# Dependencies
node_modules/
.pnpm-store/

# Builds
dist/
.next/
out/
coverage/

# Environment
.env
.env.local
.env.*.local

# Prisma
apps/api/prisma/migrations/dev.db*

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

.vercel
.env*
